@media (max-width: 800px) {
  .login #reset_showPasswordNew {
    top: 52% !important;
    font-size: 13px !important;
  }
  .login #reset_showPasswordConfirm {
    top: 73.5% !important;
    font-size: 13px !important;
}
.login .submit{
    font-size: 14px !important;
}
}
/***************************************/
@media (max-width: 600px) {
    .login #reset_showPasswordNew {
        top: 51% !important;
        font-size: 10px !important;
      }
      .login #reset_showPasswordConfirm {
        top: 73.5% !important;
        font-size: 10px !important;
    }
    .login .submit{
        font-size: 12px !important;
    }
}
/***************************************/
@media (max-width: 376px) {
    .login #reset_showPasswordNew {
        top: 52% !important;
        font-size: 8px !important;
      }
      .login #reset_showPasswordConfirm {
        top: 74.5% !important;
        font-size: 8px !important;
    }
    .login .submit{
        font-size: 8px !important;
    }
}
