@media (max-width: 1100px) {
    .login h2{
        font-size: 25px !important;
    }
    .login input{
        font-size: 14px !important;
    }
    .login #log_showPassword {
        right: 171px !important;
        top: 62% !important;
}
}
/***************************************/
@media (max-width: 800px) {
    .login h2{
        font-size: 20px !important;
    }
    .login input{
        font-size: 12px !important;
    }
    .login #log_showPassword {
        right: 240px !important;
    }
    .login label,
    .login .signIn,
    .login .forget,
    .login .createAccount{
        font-size: 14px !important;
    }
    .login h6{
        margin-top: 30px;
        font-size: 15px !important;
    }
}
/***************************************/
@media (max-width: 600px) {
    .login h2{
        font-size: 18px !important;
    }
    .login input{
        font-size: 10px !important;
    }
    .login label,
    .login .signIn,
    .login .forget,
    .login .createAccount{
        font-size: 12px !important;
    }
    .login h6{
        margin-top: 30px;
        font-size: 13px !important;
    }
    .login #log_showPassword {
        right: 150px !important;
        font-size: 10px !important;
        top: 61% !important;
    }
}
/***************************************/
@media (max-width: 426px) {
    .login h2{
        font-size: 15px !important;
    }
    .login input{
        font-size: 8px !important;
    }
    .login label,
    .login .signIn,
    .login .forget,
    .login .createAccount,
    .login p,
    .login .paragraph{
        font-size: 10px !important;
    }
    .login h6{
        margin-top: 30px;
        font-size: 11px !important;
    }
    .login #log_showPassword {
        right: 150px !important;
    }
}
/***************************************/
@media (max-width: 376px) {
    .login #log_showPassword {
        right: 135px !important;
        font-size: 8px !important;
    }
    .header #wishlistSpan {
        top: 195px !important;
        right: 221px !important;
      }
      .header #cartSpan {
        right: 198px !important;
        top: 197px !important;
      }
      .login .signIn,
      .login .createAccount{
        padding: 5px !important;
      }
}
/***************************************/
@media (max-width: 330px) {
    .login #log_showPassword {
        right: 118px !important;
    }
    .header #cartSpan {
        right: 142px !important;
      }
      .header #wishlistSpan {
        right: 167px !important;
      }
}